:root {
  --white-color-text:#fff;
  --black-color-text:#000;
  --main-bg-color:#04070E;
  --secondary-bg-color:#182340;
  --third-bg-color:#111c39;
  --fourth-bg-color:#292929;
  --fifth-bg-color:#b5b5b5;
  --sixth-bg-color:#33426b;
  --background:rgba(3, 3, 7, 0.85);
  --background2:rgba(0,0,0,0.4);
  --background3:rgba(0,0,0,0.9);
  --accent-color:rgb(186, 42, 42);
  --accent-color-2:rgb(147, 28, 28);
  --accent-color-3:rgba(182, 72, 72,0.1);
  /*--white-color-text:#fff;
  --black-color-text:#000;
  --main-bg-color:#04070E;
  --secondary-bg-color:#213567;
  --third-bg-color:#111c39;
  --fourth-bg-color:#292929;
  --fifth-bg-color:#b5b5b5;
  --background:rgba(0,0,0,0.7);
  --background2:rgba(0,0,0,0.4);
  --background3:rgba(0,0,0,0.9);*/
}

/*
#24386B - BLUE
#04070E - DARK BLUE
#FDFFFC - WHITE
#7A7D7D - GRAY
#EE2E31 - RED

Imperial_Web
Montserrat
Raleway

-webkit-user-select: none;
user-select: none;
*/
@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes delivery_img {
  from {
    transform: translate(-600%, 0%);
  }
  to {
    transform: translate(-50%, 0%);
  }
}
@keyframes delivery_img {
  from {
    transform: translate(-600%, 0%);
  }
  to {
    transform: translate(-50%, 0%);
  }
}
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

li {
  list-style: none;
}

li {
  list-style-type: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

@media only screen and (min-width: 2800px) {
  html {
    font-size: 100%;
  }
}
@media only screen and (max-width: 2800px) {
  html {
    font-size: 87.5%;
  }
}
@media only screen and (max-width: 2200px) {
  html {
    font-size: 75%;
  }
}
@media only screen and (max-width: 1600px) {
  html {
    font-size: 62.5%;
  }
}
@media only screen and (max-width: 1200px) {
  html {
    font-size: 50%;
  }
}
@media only screen and (max-width: 900px) {
  html {
    font-size: 50%;
  }
}

body {
  letter-spacing: 0.1rem;
  font-family: "Montserrat", sans-serif;
  background-color: var(--main-bg-color);
  color: #fff;
}

.wrapper {
  overflow: hidden;
  background: url(../img/black_pattern.png) repeat;
  background-size: 13rem auto;
}

.site_wrapper {
  width: 80%;
  margin: 0 auto;
}

a:link,
a:visited {
  text-decoration: none;
  color: #fff;
}

.site {
  position: relative;
  height: auto;
  width: 100%;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.site_wrapper {
  width: 80%;
  margin: 0 auto;
}

/*@media only screen and (max-width: 2000px) {
    .card_list_main{
        font-size: 1.5rem;
    }
    .card_list{
        padding: 2.5rem 3.5rem;
    }
}
@media only screen and (max-width: 1200px) {
    .card_list{
        padding: 2rem 3rem;
    }
    .card_list_sec{
        font-size: 1rem;
    }
}
@media only screen and (max-width: 900px) {
    .card_list{
        padding: 1.5rem 2.3rem;
    }

}
@media only screen and (max-width: 700px) {
    .assortment_container{
        gap: 3rem;
    }
    .grid_container{
        gap: 1.5rem;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
}
@media only screen and (max-width: 600px) {
    .slideshow_container{
        height: 70vh;
    }

    .slideshow_container > .mySlides{
        font-size: 1rem;
        height: 100%;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }
    .mySlides.second{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }
    .mySlides > .card_list > .card_list_main{
        font-size:1.2rem;
    }
    .img_card_list{
        display: none;
    }
    .mySlides.second .down_card{
        padding: 0 3rem;
        gap: 6rem;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .card_element{
        flex: 0;
    }
    .card_list{
        padding: 3rem 4rem;
    }
    .card_list_sec{
        font-size: 1rem;
    }
    .footer_container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .footer_social{
        padding: 3rem 0 0 0;
        align-self: center;
    }
    .footer_menu{
        align-items: center;
    }
}
@media only screen and (max-width: 400px) {
    .assortment_container{
        gap: 3rem;
    }
    .grid_container{
        gap: 1.5rem;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }
}
@media only screen and (max-width: 300px) {
    .prev,.next,.text {
      font-size: 11px
    }
}*/
@font-face {
  font-family: "Imperial_Web";
  src: url("../fonts/Webfont/Imperial_Web.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-VariableFont_wght.ttf") format("truetype");
}
@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway/Raleway-VariableFont_wght.ttf") format("truetype");
}
.heading--primary {
  color: #c6ccdb;
  font-size: 5rem;
  font-weight: 500;
  letter-spacing: 0.15rem;
}
@media only screen and (max-width: 1200px) {
  .heading--primary {
    font-size: 4rem;
  }
}
@media only screen and (max-width: 500px) {
  .heading--primary {
    font-size: 3.5rem;
  }
}
@media only screen and (max-width: 400px) {
  .heading--primary {
    font-size: 3rem;
  }
}

.heading--highlited {
  color: #d7deee;
  font-size: 6.5rem;
  font-weight: 700;
}
@media only screen and (max-width: 1200px) {
  .heading--highlited {
    font-size: 5.5rem;
  }
}
@media only screen and (max-width: 500px) {
  .heading--highlited {
    font-size: 4.5rem;
  }
}
@media only screen and (max-width: 400px) {
  .heading--highlited {
    font-size: 3.5rem;
  }
}

.text--secondary {
  font-size: 1.4rem;
  letter-spacing: 0.1rem;
  line-height: 120%;
  color: #c6ccdb;
  font-weight: 400;
}

.svg {
  height: 2rem;
  fill: none;
  stroke: rgb(255, 255, 255);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 0.15rem;
}

.button {
  font-weight: 500;
  font-size: 1.5rem;
  border-radius: 0.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
  padding: 1.2rem 3.5rem;
}
@media only screen and (max-width: 800px) {
  .button {
    padding: 1.2rem 3rem;
  }
}
@media only screen and (max-width: 400px) {
  .button {
    padding: 1rem 2.5rem;
    font-size: 1.2rem;
  }
}
.button--filled {
  text-transform: uppercase;
  background-color: var(--accent-color);
}
.button--filled:hover {
  background-color: var(--accent-color-2);
}
.button--not-filled {
  border: 0.1rem var(--accent-color) solid;
  background-color: transparent;
}
.button--not-filled:hover {
  background-color: var(--accent-color-3);
}

.theme-switch {
  font-size: 2rem;
  width: 12rem;
  min-height: 3.5rem;
  color: black;
  margin: 0;
  align-self: self-end;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.theme-switch__options-wrapper {
  border-radius: 0.2rem;
  border: var(--white-color-text) 0.1rem solid;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 3.5rem;
  overflow: hidden;
}
.theme-switch__box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  min-height: 100%;
  z-index: 2;
}
.theme-switch__svg {
  fill: white;
  stroke: white;
  stroke-width: 0.15rem;
}
.theme-switch__svg--active {
  fill: rgb(255, 255, 255);
  stroke: rgb(255, 255, 255);
}
.theme-switch__checkbox {
  top: 0;
  left: 0;
  position: absolute;
  opacity: 0;
  z-index: 3;
  height: 100%;
  width: 100%;
  cursor: pointer;
}
.theme-switch__oval {
  position: absolute;
  width: 50%;
  height: 100%;
  z-index: 1;
  border-radius: 0.2rem;
  transform: translateX(0);
  transition: all 0.15s ease-in-out;
  border: var(--accent-color) 0.2rem solid;
  background-color: var(--accent-color-3);
  left: -0.005rem;
}
.theme-switch__oval--active {
  transform: translateX(100%);
}

.about {
  padding: 0 0 3rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
  position: relative;
  justify-content: space-evenly;
}

.slideshow_container {
  width: 100%;
  position: relative;
  margin: 0;
}

.about > img {
  position: absolute;
  min-width: 100%;
  max-height: 100%;
}

.img_transition {
  transition: all 5s ease;
}

.card_list {
  height: 15rem;
  z-index: 1;
  padding: 3rem 4rem;
}

.card_list_main {
  font-size: 2rem;
  font-weight: 600;
}

.card_list_main_divider {
  position: relative;
  margin: 1rem 0;
  width: 70%;
  height: 2px;
  background-color: var(--white-color-text);
}

.mySlides.second .down_card {
  padding: 0 4rem 3rem;
}

.card_element {
  flex-direction: column;
  flex: 1 33%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.card_list.down_card {
  gap: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.mySlides.first {
  background: url(../img/construction_image_1.jpg) content-box no-repeat center;
  background-size: cover;
}

.mySlides.second {
  width: 100%;
  background: url(../img/delivery_image.jpg) content-box no-repeat center;
  background-size: cover;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
}

.mySlides.second > .card_list {
  width: 100%;
}

.mySlides.second .card_list_sec {
  text-align: center;
}

.mySlides.third {
  background: url(../img/construction_image_2.jpg) content-box no-repeat center;
  background-size: cover;
}

.mySlides > .background {
  background-color: var(--background);
  z-index: 1;
}

.mySlides {
  background-size: cover;
  vertical-align: middle;
  overflow: hidden;
  display: none;
}

.delivery_img {
  max-height: 100%;
  left: 50%;
  transform: translate(-50%, 0%);
  position: relative;
  -webkit-animation-name: delivery_img;
  -webkit-animation-duration: 1s;
  animation-name: delivery_img;
  animation-duration: 1s;
}

.prev,
.next {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  cursor: pointer;
  position: absolute;
  top: 0%;
  width: auto;
  height: 100%;
  padding: 1rem;
  color: var(--white-color-text);
  font-size: 1.3rem;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

.dot {
  cursor: pointer;
  height: 4px;
  width: 45px;
  margin: 0 2px;
  background-color: var(--fourth-bg-color);
  border-radius: 5px;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: var(--fifth-bg-color);
}

.fade {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  width: 100%;
  height: 100%;
  -webkit-animation-name: fade;
  -webkit-animation-duration: 0.5s;
  animation-name: fade;
  animation-duration: 0.5s;
}

.assortment {
  width: 100%;
}

.assortment_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.text_section {
  margin: 0 0 2rem;
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  overflow-x: hidden;
  font-size: 3rem;
}

.menu_text_triangle {
  width: 0;
  border-top: 2rem transparent solid;
  border-bottom: 2rem transparent solid;
  border-left: 2rem transparent solid;
  border-right: 2rem rgba(255, 255, 255, 0.1) solid;
}

.menu_text_triangle.left {
  overflow: hidden;
  border-left: 2rem rgba(255, 255, 255, 0.1) solid;
  border-right: 2rem transparent solid;
}

.menu_text_text {
  font-size: 2.2rem;
  font-family: "Imperial_Web";
  justify-content: center;
  align-items: center;
  display: flex;
  height: 4rem;
  flex: 1;
  background-color: rgba(255, 255, 255, 0.1);
}

.grid_container {
  padding: 0 0 5.714rem 0;
  width: 100%;
  gap: 2.5rem;
  flex: 1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.card {
  transition: background-color 0.15s ease-in-out;
  color: var(--white-color-text);
  font-size: 1.2rem;
  background-color: var(--main-bg-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px var(--white-color-text) solid;
  max-height: 15rem;
  justify-content: end;
}

.card:hover {
  box-shadow: 0 0 4rem var(--black-color-text);
  background-color: var(--third-bg-color);
}

.card_down {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 100%;
  height: auto;
  flex: 0;
}

.card_divider {
  margin: 0 0 0.7rem 0;
  display: inline;
  position: relative;
  height: 2px;
  width: 80%;
  background-color: var(--white-color-text);
}

.card_text {
  text-align: center;
  margin: 0 0 0.7rem;
}

.card_img {
  flex: 1;
  max-height: 60%;
  max-width: 90%;
}

.card_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  max-height: 80%;
  max-width: 100%;
}

.card_im {
  max-height: 90%;
  max-width: 90%;
}

footer {
  padding: 3rem 10%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.footer_logo {
  flex-direction: column;
  display: flex;
  align-items: center;
}

.footer_logo {
  width: 15%;
}

.footer_logo > img {
  width: 100%;
}

.footer_menu {
  align-items: baseline;
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
}

.footer_text {
  padding: 1rem 0 0;
  font-family: "Imperial_Web";
  font-size: 1.5rem;
  text-transform: uppercase;
}

.footer_container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.footer_menu_text {
  font-size: 1.2rem;
  color: var(--white-color-text);
  background-color: transparent;
}

.footer_social {
  align-self: flex-end;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 1rem;
}

.footer_social_text > i {
  font-size: 1.5rem;
  color: var(--white-color-text);
}

.nav {
  font-size: 1.4rem;
  min-width: 100vw;
  height: 7rem;
  padding: 0 5%;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 5;
  transition: backdrop-filter 0.3s ease, background-color 0.3s ease;
  user-select: none;
}
.nav--closed {
  background-color: var(--background2);
  backdrop-filter: blur(30px);
}
.nav__logo {
  max-height: 5rem;
}
.nav__wrapper {
  display: flex;
  align-items: center;
  gap: 3rem;
}
@media only screen and (max-width: 600px) {
  .nav__wrapper {
    gap: 2rem;
  }
}
.nav-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  transition: all 0.2s ease-in-out;
}
@media only screen and (max-width: 500px) {
  .nav-item__menu {
    display: none;
  }
}
@media only screen and (max-width: 500px) {
  .nav-item__language {
    display: none;
  }
}
@media only screen and (max-width: 500px) {
  .nav-item__account {
    display: none;
  }
}
.nav-item--opened {
  background-color: var(--main-bg-color);
}
.nav-item--divider {
  height: 0.1rem;
  width: 80%;
  background-color: var(--white-color-text);
  transition: background-color 0.2s ease-in-out;
  z-index: 100;
}
.nav-item__top {
  width: 100%;
  padding: 1.5rem 4rem;
  border: 1px solid transparent;
  border-bottom: 0;
  transition: all 0.2s ease-in-out;
}
@media only screen and (max-width: 600px) {
  .nav-item__top {
    padding: 1rem 3rem;
  }
}
.nav-item__top.account {
  padding: 0.35rem 6rem;
  transition: all 0.2s ease-in-out;
}
@media only screen and (max-width: 600px) {
  .nav-item__top.account {
    padding: 0.2rem 6rem;
  }
}
.nav-item__top--shown {
  border-color: var(--white-color-text);
}
.nav-item__dropdown {
  width: 100%;
  top: 100%;
  background-color: var(--main-bg-color);
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid transparent;
  border-top: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s ease-in-out;
  transform: translateY(-4rem);
}
.nav-item__dropdown--shown {
  border-color: var(--white-color-text);
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  z-index: 5;
}
.nav-item__links--top {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.6rem;
  z-index: 6;
  transition: transform 0.4s ease;
}
.nav-item__links--top-opened {
  transform: translateY(0.6rem);
}
.nav-item__links--dropdown {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  text-align: center;
  padding: 1.6rem 0;
}
.nav-item__svg-dropdown {
  transition: transform 0.3s linear;
  fill: var(--white-color-text);
  height: 1.2rem;
  stroke-width: 0.05rem;
  transform: rotate(90deg);
}
.nav-item__svg-dropdown--shown {
  transform: rotate(270deg);
}
.nav-item__link--userName {
  text-decoration: underline !important;
}

.icon__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}
.icon-item {
  position: relative;
}
.icon-item--svg {
  height: 2rem;
  fill: none;
  stroke: rgb(255, 255, 255);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 0.15rem;
  stroke-linejoin: round;
}
.icon-item__exit {
  margin: 1.5rem 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.6rem;
}
.icon-item__indicator {
  transition: all 0s linear;
  position: absolute;
  top: 0;
  right: -0.4rem;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: red;
}

.account-icon {
  height: 3.7rem;
  width: 3.7rem;
  border-radius: 50%;
  background-color: var(--white-color-text);
}
@media only screen and (max-width: 600px) {
  .account-icon {
    width: 3rem;
    height: 3rem;
  }
}
.account-icon__wrapper {
  background-color: transparent;
  display: inline;
}
@media only screen and (min-width: 501px) {
  .account-icon__wrapper {
    display: none;
  }
}

.hamburger-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  width: 3rem;
}
@media only screen and (min-width: 501px) {
  .hamburger-menu {
    display: none;
  }
}
.hamburger-menu__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.hamburger-menu__checkbox {
  position: absolute;
  display: inline;
  height: 3rem;
  width: 3rem;
  z-index: 10;
  opacity: 0;
  cursor: pointer;
}
.hamburger-menu__link {
  text-decoration: none;
  color: var(--white-color-text);
  font-weight: 500;
  font-size: 2rem;
  padding: 0.7rem;
}
.hamburger-menu__link-box {
  top: -100%;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 7rem;
  background-color: var(--background3);
  transition: all 0.4s ease;
  visibility: hidden;
  opacity: 0;
}
.hamburger-menu__link-box--shown {
  visibility: visible;
  opacity: 1;
  top: 0;
  height: 100vh;
  z-index: 1;
}
.hamburger-menu__line {
  display: block;
  position: relative;
  height: 0.15rem;
  width: 100%;
  border-radius: 0.7rem;
  background: var(--white-color-text);
}
.hamburger-menu__line-box {
  display: inline;
  height: 2rem;
  width: 2rem;
  position: absolute;
  z-index: 9;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.hamburger-menu__line-1 {
  top: 0;
  left: 0;
  transform-origin: 0 0;
  transition: all 0.4s ease-in-out;
}
.hamburger-menu__line-1--shown {
  top: 0.225rem;
  transform: rotate(45deg);
}
.hamburger-menu__line-2 {
  transition: transform 0.2s ease-in-out;
}
.hamburger-menu__line-2--shown {
  transform: scaleY(0);
}
.hamburger-menu__line-3 {
  bottom: 0;
  left: 0;
  transform-origin: 0% 100%;
  transition: all 0.4s ease-in-out;
}
.hamburger-menu__line-3--shown {
  bottom: 0.225rem;
  transform: rotate(-45deg);
}

.welcome-page {
  display: grid;
  grid-template-columns: 7fr 3fr;
  grid-auto-flow: column;
  grid-template-rows: 1fr;
  justify-content: center;
  align-items: stretch;
  padding: 7rem 0 0;
  min-height: 100vh;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  position: relative;
}
@media only screen and (max-width: 800px) {
  .welcome-page {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
}
.welcome-page__main-section {
  flex: 1;
  color: var(--white-color-text);
  padding: 4rem 5rem 4rem 7rem;
  height: 100%;
  position: relative;
  word-spacing: 1px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-self: stretch;
}
@media only screen and (max-width: 800px) {
  .welcome-page__main-section {
    padding: 4rem 3rem;
    width: 100%;
  }
}
@media only screen and (max-width: 600px) {
  .welcome-page__main-section {
    padding: 3rem;
  }
}
@media only screen and (max-width: 400px) {
  .welcome-page__main-section {
    padding: 2rem;
  }
}
.welcome-page__text--secondary {
  margin: 2.5rem 0 0;
  max-width: 80%;
}
@media only screen and (max-width: 800px) {
  .welcome-page__text--secondary {
    margin: 4rem 0;
    width: 100%;
  }
}
.welcome-page__buttons-wrapper {
  margin: 9rem 0 0;
  display: flex;
  flex-direction: row;
}
@media only screen and (max-width: 800px) {
  .welcome-page__buttons-wrapper {
    margin: 0 auto;
  }
}
.welcome-page__button--order {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
.welcome-page__button--phone {
  gap: 0.5rem;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
.welcome-page__secondary-section {
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
  padding-right: 4rem;
}
@media only screen and (max-width: 800px) {
  .welcome-page__secondary-section {
    padding-top: 8rem;
    padding-right: 2rem;
    position: absolute;
    right: 0;
    top: 0;
  }
}
@media only screen and (max-width: 500px) {
  .welcome-page__secondary-section {
    margin: 0;
  }
}

.text-writer {
  position: relative;
  display: inline-block;
  width: max-content;
}
.text-writer__wrapper {
  position: absolute;
}
.text-writer__placeholder {
  visibility: hidden;
  display: inline-block;
}
@media only screen and (max-width: 1200px) {
  .text-writer__placeholder {
    font-size: 5.5rem;
  }
}
@media only screen and (max-width: 500px) {
  .text-writer__placeholder {
    font-size: 4.5rem;
  }
}
@media only screen and (max-width: 400px) {
  .text-writer__placeholder {
    font-size: 3.5rem;
  }
}
.text-writer__cursor {
  display: inline-block;
  left: 0.1rem;
  top: 0.6rem;
  position: relative;
  height: 6rem;
  width: 0.4rem;
  background-color: #fff;
}
@media only screen and (max-width: 1200px) {
  .text-writer__cursor {
    height: 5rem;
  }
}
@media only screen and (max-width: 500px) {
  .text-writer__cursor {
    height: 4rem;
  }
}
@media only screen and (max-width: 400px) {
  .text-writer__cursor {
    height: 3rem;
  }
}

.hex-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  padding: 2.857rem 0;
  height: 100%;
  transition: all 0.4s ease-in-out;
}
@media only screen and (max-width: 801px) {
  .hex-wrapper {
    display: none;
  }
}
.hex-wrapper__row {
  min-height: 13rem;
  display: flex;
  gap: 1rem;
}
.hex-wrapper__row--first {
  margin-left: 5rem;
}
.hex-wrapper__row--second {
  margin-left: -2.5rem;
}
.hex-wrapper__row--third {
  margin-left: -10rem;
}

.hex {
  width: 14em;
  height: 8.083rem;
  position: absolute;
  top: 0;
  left: 0;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.1rem;
  border-left: #ff4747 0.5rem solid;
  border-right: #ff4747 0.5rem solid;
  color: var(--white-color-text);
  user-select: none;
  transition: all 0.5s ease-out;
}
.hex__text {
  transition: all 0.5s ease-out;
  font-size: 1.3rem;
  backface-visibility: hidden;
  font-weight: 500;
}
.hex--second {
  position: absolute;
  transform: rotate(60deg);
}
.hex--third {
  position: absolute;
  transform: rotate(-60deg);
}
.hex-box {
  transition: all 0.5s ease-in-out;
  width: 14rem;
  display: inline-block;
  position: relative;
  opacity: 0.8;
  height: 8.083rem;
}
.hex-box:hover {
  transform-origin: 50% 50%;
  transform: scale(120%);
  opacity: 1;
}
.hex-box:hover .hex--main {
  transform: rotate(-120deg);
}
.hex-box:hover .hex--second {
  transform: rotate(-60deg);
}
.hex-box:hover .hex--third {
  transform: rotate(-180deg);
}
.hex-box:hover .hex__text {
  transform: rotate(120deg);
}

/*# sourceMappingURL=style.css.map */
