.about {
  width: 100%;
  margin: 10rem 0 5rem;
  display: grid;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  gap: 2rem;
}

.slideshow-wrapper {
  background-image: linear-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0.9)) ,url('/img/slideshow_img_2.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: grid;
  max-height: 100%;
  max-width: 100%;
  position: relative;
  margin: 0;

  &__arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    cursor: pointer;
    position: absolute;
    top: 0;
    height: 100%;
    padding: 1rem;
    color: var(--white-color-text);
    font-size: 1.3rem;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;

    &--previous {
      @extend .slideshow-wrapper__arrow;

      &:hover {
        background-color: var(--background4);
      }
    }

    &--next {
      @extend .slideshow-wrapper__arrow;

      right: 0;
      border-radius: 3px 0 0 3px;

      &:hover {
        background-color: var(--background4);
      }
    }
  }
}

.slide {
  position: relative;
  background-size: cover;
  vertical-align: middle;
  overflow: hidden;
  background-size: cover;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: max-content max-content;
  transition: opacity 0.4s ease-in-out;
  &--second {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  &--hidden {
    position: absolute;
    opacity: 0;
    visibility: hidden;
  }
}

.slide-item {
  height: 25rem;
  width: 100%;
  padding: 3rem 4rem;
  justify-content: center;
  align-items: center;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content min-content 1fr;
  animation-duration: 0.5s;
  z-index: 1;

  &__divider {
    margin: 2rem 0;
    width: 70%;
    height: 0.1rem;
    background-color: var(--white-color-text);
  }

  &__img-box {
    grid-column: span 3;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__img--delivery {
    max-height: 100%;
    position: relative;
    transition: all .3s linear;
    opacity: 0;
  }

  &--double-row{
    grid-template-rows: min-content min-content 1fr;
    grid-row: span 2;
    height: 100%;
  }

  &__text{
    align-self: start;
  }
}



.dots-wrapper {
  margin: 0 0 2rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dot {
  cursor: pointer;
  height: 4px;
  width: 45px;
  margin: 0 2px;
  transition: background-color 0.6s ease;
  border-radius: 5px;
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.6);
  &--hidden {
    background-color: var(--fourth-bg-color);
  }
  &:hover{
    background-color: rgba(255, 255, 255, 0.3);
  }
}
