footer {
    padding: 3rem 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.footer_logo {
    flex-direction: column;
    display: flex;
    align-items: center;
}
.footer_logo {
    width: 15%;
}
.footer_logo>img {
    width: 100%;
}
.footer_menu {
    align-items: baseline;
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
}
.footer_text {
    padding: 1rem 0 0;
    font-family: 'Imperial_Web';
    font-size: 1.5rem;
    text-transform: uppercase;
}
.footer_container {

    display: flex;
    flex-direction: row;
    align-items: center;
}
.footer_menu_text {
    font-size: 1.2rem;
    color: var(--white-color-text);
    background-color: transparent;
}
.footer_social {
    align-self: flex-end;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 1rem;
}
.footer_social_text>i {
    font-size: 1.5rem;
    color: var(--white-color-text);
}