footer {
    width: 70%;
    margin: 3rem auto;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    @media only screen and (max-width: 800px) {
       width: 95%;
    }
}
.footer__logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    max-width: 40%;
}
.footer__img {
    max-width: 100%;
}
.footer__links-wrapper {
    align-items: baseline;
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
}
.footer__menu-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.footer__svg-wrapper {
    align-self: flex-end;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 1.4rem;
}
.footer__svg{
    height: 3rem;
}