.nav {
  font-size: 1.4rem;
  min-width: 100vw;
  height: 7rem;
  padding: 0 5%;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 5;
  transition: backdrop-filter 0.3s ease, background-color 0.3s ease;
  user-select: none;

  &--closed {
    background-color: var(--background2);
    backdrop-filter: blur(30px);
  }

  &__logo {
    max-height: 5rem;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    gap: 3rem;
    @media only screen and (max-width: 600px) {
      gap: 2rem;
    }
  }

  &-item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    transition: all 0.2s ease-in-out;

    &__menu {
      @media only screen and (max-width: 500px) {
        display: none;
      }
    }

    &__language {
      @media only screen and (max-width: 500px) {
        display: none;
      }
    }
    &__account {
      @media only screen and (max-width: 500px) {
        display: none;
      }
    }
    &--opened {
      background-color: var(--main-bg-color);
    }
    &--divider {
      height: 0.1rem;
      width: 80%;
      background-color: var(--white-color-text);
      transition: background-color 0.2s ease-in-out;
      z-index: 100;
    }
    &__top {
      width: 100%;
      padding: 1.5rem 4rem;
      border: 1px solid transparent;
      border-bottom: 0;
      transition: all 0.2s ease-in-out;
      @media only screen and (max-width: 600px) {
        padding: 1rem 3rem;
      }
      &.account {
        padding: 0.35rem 6rem;
        transition: all 0.2s ease-in-out;
        @media only screen and (max-width: 600px) {
          padding: 0.2rem 6rem;
        }
      }
      &--shown {
        border-color: var(--white-color-text);
      }
    }
    &__dropdown {
      width: 100%;
      top: 100%;
      background-color: var(--main-bg-color);
      position: absolute;
      display: flex;
      flex-direction: column;
      align-items: center;
      border: 1px solid transparent;
      border-top: 0;
      opacity: 0;
      visibility: hidden;
      transition: all 0.2s ease-in-out;
      transform: translateY(-4rem);
      &--shown {
        border-color: var(--white-color-text);
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
        z-index: 5;
      }
    }
    &__links {
      &--top {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.6rem;
        z-index: 6;
        transition: transform 0.4s ease;
      }
      &--top-opened {
        transform: translateY(0.6rem);
      }
      &--dropdown {
        display: flex;
        flex-direction: column;
        gap: 1.6rem;
        text-align: center;
        padding: 1.6rem 0;
      }
    }
    &__svg-dropdown {
      position: relative;
      transition: transform 0.3s linear;
      display: inline;
      fill: var(--white-color-text);
      height: 1.4rem;
      transform: rotate(90deg);
      &--shown {
        transform: rotate(270deg);
      }
    }
  }
}


.icon {
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
  }
  &-item {
    position: relative;
    &--svg {
      height: 2rem;
      fill: none;
      stroke: rgb(255, 255, 255);
      stroke-linecap: round;
      stroke-linejoin: round;
      stroke-width: 0.15rem;
      stroke-linejoin: round;
    }
    &__exit {
      margin: 1.5rem 0 0;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.6rem;
    }
    &__indicator {
      transition: all 0s linear;
      position: absolute;
      top: 0;
      right: -0.4rem;
      width: 0.5rem;
      height: 0.5rem;
      border-radius: 50%;
      background-color: red;
    }
  }
}


.account-icon {
  height: 3.7rem;
  width: 3.7rem;
  border-radius: 50%;
  background-color: var(--white-color-text);

  @media only screen and (max-width: 600px) {
    width: 3rem;
    height: 3rem;
  }
  &__wrapper {
    background-color: transparent;
    display: inline;
    @media only screen and (min-width: 501px) {
      display: none;
    }
  }
}


.hamburger-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  width: 3rem;
  @media only screen and (min-width: 501px) {
    display: none;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__checkbox {
    position: absolute;
    display: inline;
    height: 3rem;
    width: 3rem;
    z-index: 10;
    opacity: 0;
    cursor: pointer;
  }

  &__link {
    text-decoration: none;
    color: var(--white-color-text);
    font-weight: 500;
    font-size: 2rem;
    padding: 0.7rem;
    
    &-box {
      top: -100%;
      left: 0;
      height: 100vh;
      width: 100vw;
      display: flex;
      position: fixed;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 7rem;
      background-color: var(--background3);
      transition: all 0.4s ease;
      visibility: hidden;
      opacity: 0;

      &--shown {
        visibility: visible;
        opacity: 1;
        top: 0;
        height: 100vh;
        z-index: 1;
      }
    }
  }

  &__line {
    display: block;
    position: relative;
    height: 0.15rem;
    width: 100%;
    border-radius: 0.7rem;
    background: var(--white-color-text);

    &-box {
      display: inline;
      height: 2rem;
      width: 2rem;
      position: absolute;
      z-index: 9;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    &-1 {
      top: 0;
      left: 0;
      transform-origin: 0 0;
      transition: all 0.4s ease-in-out;
      &--shown {
        top: 0.225rem;
        transform: rotate(45deg);
      }
    }

    &-2 {
      transition: transform 0.2s ease-in-out;
      &--shown {
        transform: scaleY(0);
      }
    }

    &-3 {
      bottom: 0;
      left: 0;
      transform-origin: 0% 100%;
      transition: all 0.4s ease-in-out;
      &--shown {
        bottom: 0.225rem;
        transform: rotate(-45deg);
      }
    }
  }
}