.welcome-page{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 5rem 0;
	height: 100vh;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}
.welcome-page__main-section{
    margin: 1rem 0 0 3rem ;
    color: var(--white-color-text);
    padding: 3rem 5rem;
    width: 70%;
    height: 100%;
    position: relative;
    word-spacing: 1px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.heading--primary{
    color: #c6ccdb;
    font-size: 4.5rem;
    font-weight: 500;
    letter-spacing: .15rem;
}
.heading--highlited{
    color: #d7deee;
    font-size: 5.5rem;
    font-weight: 700;
    position: relative;
}
.cursor{
    display: inline-block;
    left: 0.1rem;
    top: 0.6rem;
    position: relative;
    height: 4.5rem;
    width: 0.3rem;
    background-color: #fff;
}
.secondary_section{
    width: 30%;
    display: flex;
    flex-direction: column;
}
.secondary_text_main_section{
    margin:2rem 0 0;
    max-width: 80%;
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
    line-height: 110%;
    color: #c6ccdb;
}
.thin{
    font-weight: 400;
}
.bottom_main_section{
    display: flex;
    flex-direction: column;
    margin: 3rem 0 0;
}
.button_main_section{
    display: flex;
    flex-direction: row;
}
.button_main_section > a{
    font-family: 'Montserrat';
    align-self:flex-start;
    font-size: 1.2rem;
    letter-spacing: 0.7px;
    position: relative;
    color: var(--white-color-text);
    text-transform: uppercase;
}
.button_main_section > a.button{
    height: 100%;
    transition: all 0.2s ease-in-out;
    border: 0.17rem var(--white-color-text) solid;
    background-color: #ff4747;
    padding: 1.2rem 3.5rem;
    /*background-color: var(--secondary-bg-color);*/
}
.button_main_section > a.button:hover{
    background-color: var(--third-bg-color);
}
.button_main_section > .tel_section{
    height: 100%;
    transition: all 0.2s ease-in-out;
    padding: 1.2rem 2.5rem;
    background-color: transparent;
}
.tel_section:hover{
    background-color: rgba(0, 0, 0, 0.2);
}
.bottom_main_section > img{
    position: relative;
    width: 1.5rem;
}

.button_language{
    align-self: flex-end;
    padding: 1.2rem 2.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    align-items: center;
    justify-content: space-around;
}


.hexagon_section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    left: 30rem;
    padding: 2.857rem 0;
    height: 100%;
    transition: all 0.4s ease-in-out;
}
.hex-row {
    clear: left;
    height: 10.57rem;
}
.hex-row.first{
    margin-left: 5.3928rem;
}
.hex-row.second{
    margin-left: -0.678rem;
}
.hex-row.third {
    margin-left: -6.6428rem;
}

.hex{
    -webkit-user-select: none;
    user-select: none;
    color: var(--white-color-text);
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-out;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 1px;
    width: 11rem;
    height: 6.351rem;
    border-left: #ff4747 5px solid;
    border-right: #ff4747 5px solid;
    
}
.hex_second{
    position:absolute;
    transform: rotate(60deg);
}
.hex_third{
    position:absolute;
    transform: rotate(-60deg);
}
.hex_group{
    transition: all 0.5s ease-in-out;
    width: 11.7857rem;
    display: inline-block;
    position: relative;
    opacity: 0.8;    
}
.hex_group:hover{
    background-color: rgba(255, 255, 255, 0.4);
    transform: scale(1.1);
    opacity: 1;
}
.hex_group:hover > .hex_main{
    transform: rotate(-120deg);
}
.hex_group:hover > .hex_second{
    
    transform: rotate(-60deg);
}
.hex_group:hover > .hex_third{
    transform: rotate(-180deg);
}
.hex_text{
    transition: all 0.5s ease-out;
    font-size: 1.1rem;
    font-weight: 700;
}

.hex_group:hover .hex_text{
    transform: rotate(120deg);
}
/*////////////////////////////////////////*/
button{
    font-size: 1.2rem;
    position: relative;
    display: flex;
    background-color: transparent;
    color: var(--white-color-text);
}