.wrapper{
    background:url(../../img/black_pattern.png) repeat;
    background-size: 13rem auto;
}
.main_section{
    display: flex;
    flex-direction: column;
    padding: 5.714rem 0;
    width: 100%;
}

.link_section{
    display: flex;
    gap: 10px;
    flex-direction: row;
    padding: 2rem 0;
}
.link_section > a{
    color: var(--white-color-text);
}
.heading_text{
    margin: 2rem;
    text-align: center;
    font-size: 2rem;
    flex: 0;
}
.content_container{
    gap: 1rem;
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-direction: row;
}
.side_bar{
    width: 25%;
    background-color: var(--background2);
    padding: 3rem;
}
.side_item{
    display: block;
    padding: 1.7rem 0.5rem;
}
.main_bar{
    max-width: 75%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex: 1;
}
.assortment_bar{
    background-color: var(--background2);
    overflow: hidden;
    align-self: stretch;
    flex: 1;
}
.slideshow_container{
    position: relative;
    height: 100%;
    gap: 2rem;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 0 0 0 50%;
}

.slide{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-shrink: 0;
    width: 15rem;
    height: 15rem;
    opacity: 0.2; 
    transform: translateX(-10rem);
    transition: all 0.4s ease-in-out;
}

.slideshow_container > button{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: absolute;
    top: 0%;
    transform: translateY(-50%);
    height: 100%;
    z-index: 2;
    top: 50%;
    width: auto;
    height: 100%;
    padding: 1rem;
    color: var(--white-color-text);
    font-size: 1.3rem;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    -webkit-user-select: none;
    user-select: none;
}

.prev{
    margin:0 0 0 -50% ;
    transform: translateX(-50%);
}
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
  
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.4);
}

.card{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    height: 100%;
    width: 100%;
    color: var(--white-color-text);
    font-size: 0.75rem;
    background-color: var(--main-bg-color);
    border: 2px var(--white-color-text) solid;
    transition: background-color 0.15s ease-in-out;
    transition: font-size 0.5s ease-in-out;
}
.card:hover{
    box-shadow: 0 0 4rem var(--black-color-text);
    background-color: var(--third-bg-color);
}
.card_down{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex: 0;
    height: auto;
    width: 100%;
    padding: 0 2rem;
    transition: padding 0.5s ease-in-out;
}
.card_divider{
    display: inline;
    position: relative;
    height: 2px;
    width: 80%;
    margin:0 0 0.7rem 0;
    background-color: var(--white-color-text);
}
.card_text{
    text-align: center;
    margin: 0 0 0.7rem;
}
.card_img{
    flex: 1;
    max-height: 60%;
    max-width: 90%;
}
.card_container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    max-height: 70%;
    max-width: 100%;
}
.card_im{
    max-height: 90%;
    max-width: 90%;
}
.action_section{
    margin: 0 2rem;
    position: absolute;
    display: flex;
    visibility: hidden;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
    top: 1rem;
    width: 90%;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
}
.unhovered_icon{
    opacity: 0.3;
}
.hovered_icon{
    opacity: 1;
}
.opened_liked_icon{
    color: #ff0000;
}
.opened_basket_icon{
    color: #d59500;
}

.active_slide > .card > .action_section{
    visibility: visible;
    opacity: 1;
}
.active_slide{
    width: 20rem;
    height: 20rem;
    opacity: 1;
    transform: translateX(-10rem);
}
.active_slide > .card{
    font-size: 1rem;
}
.active_slide > .card > .action_section{
    display: flex;
}


@media only screen and (max-width: 800px) {
    html{
		font-size: 8px;
	}
    
}