:root{
    --white-color-text:#fff;
    --black-color-text:#000;
    --main-bg-color:#04070E;
    --secondary-bg-color:#182340;
    --third-bg-color:#111c39;
    --fourth-bg-color:#292929;
    --fifth-bg-color:#b5b5b5;
    --sixth-bg-color:#33426b;
    --background:rgba(3, 3, 7, 0.85);
    --background2:rgba(0,0,0,0.4);
    --background3:rgba(0,0,0,0.9);
    --background4:rgba(0,0,0,0.5);
    --accent-color:rgb(186, 42, 42);
    --accent-color-2:rgb(147, 28, 28);
    --accent-color-3:rgba(182, 72, 72,0.1);

    /*--white-color-text:#fff;
    --black-color-text:#000;
    --main-bg-color:#04070E;
    --secondary-bg-color:#213567;
    --third-bg-color:#111c39;
    --fourth-bg-color:#292929;
    --fifth-bg-color:#b5b5b5;
    --background:rgba(0,0,0,0.7);
    --background2:rgba(0,0,0,0.4);
    --background3:rgba(0,0,0,0.9);*/
}
/*
#24386B - BLUE
#04070E - DARK BLUE
#FDFFFC - WHITE
#7A7D7D - GRAY
#EE2E31 - RED

Imperial_Web
Montserrat
Raleway

-webkit-user-select: none;
user-select: none;
*/