:root{
    --white-color-text:#ffffff;
    --beige-color-text:#c6ccdb;
    --black-color-text:#000000;

    --grey-color-translucent:rgba(255, 255, 255, 0.1);

    --main-bg-color:#04070E;

    --background-smaller:rgba(0,0,0,0.4);
    --background-bigger:rgba(0,0,0,0.9);


    --accent-color:rgb(147, 28, 28);
    --accent-color-darker:rgb(92, 17, 17);
    --accent-color-translucent:rgba(182, 72, 72,0.1);
}