.button{
  font-weight: 500;
  font-size: 1.5rem;
  border-radius: 0.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
  padding: 1.2rem 3.5rem;

  &--filled{
    text-transform: uppercase;
    background-color: var(--accent-color);
    &:hover{
      background-color:var(--accent-color-2) ;
    }
  }
  &--not-filled{
    border: 0.1rem var(--accent-color) solid;
    background-color: transparent;
    &:hover{
      background-color:var(--accent-color-3) ;
    }
  }

}
