.card {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 4fr min-content;
  align-items: center;
  border: 0.1rem var(--white-color-text) solid;
  padding: 1rem;
  background-color: var(--main-bg-color);
  font-size: 1.4rem;
  color: var(--white-color-text);
  transition: all 0.15s ease-in-out;

  &:hover {
    border-color: var(--accent-color);
    background-color: var(--accent-color-translucent);
    box-shadow: 0 0 4rem var(--black-color-text);
    & .card__divider {
      background-color: var(--accent-color);
    }
  }

  &__img {
    max-height: 80%;
    max-width: 80%;

    &-box {
      display: flex;
      align-items: center;
      justify-content: center;
      align-self: stretch;
      justify-self: stretch;
    }
  }

  &__info {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    align-self: end;
    flex-direction: column;
    padding: 1rem 0 0;
  }
  &__divider {
    position: relative;
    width: 80%;
    height: 0.1rem;
    display: inline;
    margin: 0 0 1rem;
    background-color: var(--white-color-text);
    transition: all 0.15s ease-in-out;
  }
  &__text {
    text-align: center;
  }
}
