.theme-switch {
  font-size: 2.7rem;
  width: 10rem;
  min-height: 3rem;
  color: black;
  margin: 2rem 4rem;
  align-self: self-end;
  position: relative;
  border-radius: 0.2rem;
  border: var(--accent-color) 0.17rem solid;

  &__options-wrapper {
    background-color: var(--accent-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  &__box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
    z-index: 2;
  }

  &__svg {
    fill: rgb(0, 0, 0);
    stroke: rgb(0, 0, 0);
    stroke-width: 0.15rem;

    &--active {
      fill: rgb(255, 255, 255);
      stroke: rgb(255, 255, 255);
    }
  }

  &__checkbox {
    top: 0;
    left: 0;
    position: absolute;
    opacity: 0;
    z-index: 3;
    height: 100%;
    width: 100%;
    cursor: pointer;
  }

  &__oval {
    position: absolute;
    width: 50%;
    height: 100%;
    z-index: 1;
    background-color: var(--main-bg-color);
    border-radius: 0.2rem;
    transform: translateX(0);
    transition: all 0.15s ease-in-out;

    &--active {
        transform: translateX(100%);
    }
  }
}
