.theme-switch {
  position: relative;
  width: 12rem;
  min-height: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: self-end;

  &__options-wrapper {
    
    min-height: 3.5rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: var(--white-color-text) 0.1rem solid;
    border-radius: 0.2rem;
    overflow: hidden;
  }

  &__box {
    z-index: 2;
    min-height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__checkbox {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    height: 100%;
    width: 100%;
    opacity: 0;
    cursor: pointer;
  }

  &__oval {
    position: absolute;
    left: -0.005rem;
    z-index: 1;
    height: 100%;
    width: 50%;
    border: var(--accent-color) 0.2rem solid;
    border-radius: 0.2rem;
    background-color: var(--accent-color-translucent);
    transform: translateX(0);
    transition: all 0.15s ease-in-out;

    &--active {
        transform: translateX(100%);
    }
  }
}
