@-webkit-keyframes fade {
    from {
      opacity: .4
    }
    to {
      opacity: 1
    }
}
@keyframes fade {
    from {
      opacity: .4
    }
  
    to {
      opacity: 1
    }
}
@-webkit-keyframes delivery_img{
    from {
        transform: translate(-600%,0%);
    }
    
      to {
        transform: translate(-50%,0%);
    }
}
@keyframes delivery_img{
    from {
        transform: translate(-600%,0%);
    }
    
    to {
        transform: translate(-50%,0%);
    }
}