@keyframes moveInDeliveryImage {
  0% {
    transform: translate(-200%, 0);
    opacity: 0;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}

@keyframes moveOutDeliveryImage {
  0% {
    transform: translate(0, 0);
    opacity: 1;
  }
  100% {
    transform: translate(200%, 0);
    opacity: 0;
  }
}