.site__assortment{
  width: 90%;
  @media only screen and (max-width: 800px) {
    width: 100%;
    padding: 7rem 1rem;
  }
}
.site__content--assortment{
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr;
  align-items: stretch;
  justify-content: center;
  flex-direction: row;
  gap: 3rem;
  margin-top: 3rem;
  @media only screen and (max-width: 800px) {
    gap: 1rem;
  }
  @media only screen and (max-width: 600px) {
    gap: 3rem;
    grid-template-columns: 1fr;
    grid-template-rows: min-content 1fr;
  }
}

.sidebar{
  background-color: var(--background-smaller);
  padding: 3rem;
  @media only screen and (max-width: 800px) {
    width: 100%;
    padding: 1rem;
  }
}
.sidebar__item{
  font-size: 1.3rem;
  display: block;
  padding: 2rem 0.5rem;
  cursor: pointer;
  @media only screen and (max-width: 800px) {
    width: 100%;
    padding: 2rem 0;
  }
}

.carousel-wrapper{
  min-height: 50rem;
  flex-direction: column;
  align-items: stretch;
  background-color: var(--background-smaller);
  overflow: hidden;
  display: flex;
}
.carousel__heading{
  flex: 0;
  padding: 2rem 0 0;
}
.carousel{
  width: 100%;
  position: relative;
  overflow: hidden;
  align-self: stretch;
  flex: 1;
}
.cards-wrapper{
  height: 100%;
  gap: 2rem;
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 0 0 0 50%;
  
}

.card__slide{
  align-items: center;
  justify-content: center;
  display: flex;
  flex-shrink: 0;
  height: 20rem;
  width: 15rem;
  opacity: 0.2; 
  transition: all .6s ease-in-out;
}

.card__slide--active {
  padding: 1.3333333rem;
  height: 30rem;
  width: 25rem;
  opacity: 1;
}
.carousel__card{
  height: 100%;
  width: 100%;
  @media only screen and (max-width: 600px) {
    padding: 0.5rem;
  }
}






.assortment_bar{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr)); 
  grid-gap: 3rem;
  padding: 3rem;
  width: 100%;
  @media only screen and (max-width: 800px) {
    grid-gap: 2rem;
    padding: 2rem;
    grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr)); 
  }
}
.assortment__name{
  margin: 4rem 0 0;
}


.header {
  display: grid;
  grid-template-columns: 1fr max-content;
  grid-template-rows: 1fr;
  align-items: center;
  flex: 0;
  flex-direction: row;
  padding: 2rem 0;
  gap: 2rem;

  &__links-wrapper {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 1rem;
    flex-wrap: wrap;
  }
}