.site__assortment{
  width: 90%;
  @media only screen and (max-width: 800px) {
    width: 100%;
    padding: 7rem 1rem;
  }
}
.site__content--assortment{
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-template-rows: 1fr;
  align-items: stretch;
  justify-content: center;
  flex-direction: row;
  gap: 3rem;
  margin-top: 3rem;
  @media only screen and (max-width: 800px) {
    gap: 1rem;
  }
}

.sidebar{
  background-color: var(--background-smaller);
  padding: 3rem;
  @media only screen and (max-width: 800px) {
    width: 100%;
    padding: 1rem;
  }
}
.sidebar_item{
  font-size: 1.3rem;
  display: block;
  padding: 2rem 0.5rem;
  @media only screen and (max-width: 800px) {
    width: 100%;
    padding: 2rem 0;
  }
}

.carousel-wrapper{
  flex-direction: column;
  align-items: stretch;
  background-color: var(--background-smaller);
  overflow: hidden;
  display: flex;
}
.carousel__heading{
  flex: 0;
  padding: 2rem 0 0;
}
.carousel{
  width: 100%;
  position: relative;
  overflow: hidden;
  align-self: stretch;
  flex: 1;
}
.cards-wrapper{
  height: 100%;
  gap: 2rem;
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 0 0 0 50%;
  
}

.card__slide{
  align-items: center;
  justify-content: center;
  display: flex;
  flex-shrink: 0;
  height: 20rem;
  width: 15rem;
  opacity: 0.2; 
  transition: all .6s ease-in-out;
  @media only screen and (max-width: 600px) {
    height: 15rem;
    width: 10rem;
    padding: 0rem;
  }
}

.card__slide--active {
  padding: 1.3333333rem;
  height: 30rem;
  width: 25rem;
  opacity: 1;
  @media only screen and (max-width: 600px) {
    height: 25rem;
    width: 20rem;
  }
}
.carousel__card{
  height: 100%;
  width: 100%;
  @media only screen and (max-width: 600px) {
    padding: 0.5rem;
  }
}

.card__action{
  top: 0;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  visibility: hidden;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}
.unhovered_icon{
  opacity: 0.3;
}
.hovered_icon{
  opacity: 1;
}
.icon-item__heart--opened{
  fill: #ff0000;
}
.icon-item__bookmark--opened{
  fill: #d59500;
}
.active_slide > .card{
  font-size: 1rem;
}
.card__action--active{
  display: flex;
  visibility: visible;
  opacity: 1;
}