.wrapper{
    background:url(../../../img/black_pattern.png) repeat;
    background-size: 13rem auto;
}

.main_section{
    display: flex;
    flex-direction: column;
    padding: 5.714rem 0;
    width: 100%;
}

.link_section{
    display: flex;
    gap: 10px;
    flex-direction: row;
    padding: 2rem 0;
}
.link_section > a{
    color: var(--white-color-text);
}
.heading_text{
    margin: 2rem;
    text-align: center;
    font-size: 2rem;
    flex: 0;
}
.content_container{
    gap: 1rem;
    display: flex;
    align-items: stretch;
    flex-direction: row;
}
.side_bar{
    min-width: 16rem;
    display: flex;
    flex-direction: column;

    background-color: var(--background2);
    padding: 3rem;
}
.side_item{
    display: block;
    margin: 1.7rem 0.5rem;
}
.main_bar{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    
    flex: 1;
}
.assortment{
    background-color: var(--background2);
    width: 100%;
}
.assortment_bar{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr)); 
    grid-gap: 2rem;
    padding: 2rem;
    width: 100%;
}
.assortment_name{
    margin: 2rem 0 0;
    text-align: center;
    font-size: 1.5rem;
}

.card{
    position: relative;
    transition: background-color 0.15s ease-in-out;
    color: var(--white-color-text);
    font-size: 1rem;
    background-color: var(--main-bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px var(--white-color-text) solid;
    max-height: 17rem;
    justify-content: end;
}

.card:hover{
    box-shadow: 0 0 4rem var(--black-color-text);
    background-color: var(--third-bg-color);
}
.card_down{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 100%;
    height: auto;
    flex: 0;
}
.card_divider{
    margin:0 0 0.7rem 0;
    display: inline;
    position: relative;
    height: 2px;
    width: 80%;
    background-color: var(--white-color-text);
}
.card_text{
    text-align: center;
    margin: 0 0 0.7rem;
}
.card_img{
    flex: 1;
    max-height: 60%;
    max-width: 90%;
}
.card_container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    max-height: 70%;
    max-width: 100%;

}
.card_im{
    max-height: 90%;
    max-width: 90%;
}
.action_section{
    margin: 0 2rem;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
    top: 1rem;
    width: 90%;
}

.unhovered_icon{
    opacity: 0.3;
}

.hovered_icon{
    opacity: 1;
}

.opened_liked_icon{
    color: #ff0000;
}
.opened_basket_icon{
    color: #d59500;
}

@media only screen and (max-width: 800px) {
    html{
		font-size: 8px;
	}
    
}

.sticky {
    position: -webkit-sticky;
    position: fixed;
    top: 0; 
    width: 50%;
  }